{% comment %}
file for feedback by project
{% endcomment %}


{% load i18n utils tuser %}

<div class="card card-info card-outline">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-comments mr-1"></i>
            {% trans "Feedback" %}
        </h3>
    </div>
    <div class="card-body p-0 text-center">
        {% for feed in wfeedbacks %}
        <div class="post">
            <div class="user-block">
                <img class="img-circle img-bordered-sm" src="{{feed.evaluator.user.photo|tc_photo}}" alt="user image">
                <span class="username">
                    <a href="{% url 'common:user-detail' feed.evaluator.pk %}">
                        {{feed.evaluator.get_full_name}}
                    </a>
                </span>
                <span class="description">{{feed.date|date:"d M - Y"}}</span>
            </div>
            <p>
                {{feed.comments}}
            </p>
            {% if feed.outstanding %}
            <span class="badge badge-warning">
                <i class="fa fa-star mr-1"></i>
                {% trans "Outstanding" %}
            </span>
            {% endif %}
        </div>
        {% empty %}
        <small class="text-muted">-- {% trans "Pas Devaluation" %} --</small>
        {% endfor %}
    </div>
</div>