{% load i18n static utils tuser %}


<div class="border-top mt-2 mb-2 text-center"></div>
<div class="row">
    <div class="col-lg-6">
        <h6>{% trans "Objectives" %}</h6>
        {% if wproject.objectives.count %}
        <blockquote class="quote-secondary">
            <p class="text-muted">
                {% for objective in wproject.objectives.all %}
                {{objective}}
                <br>
                {% endfor %}
            </p>
        </blockquote>
        {% endif %}
    </div>
    <div class="col-lg-6">
        <h6>{% trans "Skill" %}</h6>
        {% if wproject.skills.count %}
        <blockquote class="quote-secondary">
            <p class="text-muted">
                {% for skill in wproject.skills.all %}
                {{skill}}
                <br>
                {% endfor %}
            </p>
        </blockquote>
        {% endif %}
    </div>
</div>

<div class="border-top mt-2 mb-2 text-center"></div>
<h4>{% trans "Information Project" %}</h4>
<ul>
    {% with wproject.extra as wextra %}
    <li class="list-style-none">
        <i class="fa fa-project-diagram"></i>
        {{wextra.num}}
        {% trans "Project enregistrer" %}
    </li>
    <li class=" list-style-none">
        <i class="fa fa-trophy"></i>
        {{wextra.num_finish}}
        {% trans "Terminer" %}
    </li>
    <li class="list-style-none">
        <i class="fa fa-user"></i>
        {{wextra.num_student}}
        {% trans "Students currently doing this project" %}
    </li>
</ul>
<div class="border-top mt-2 mb-2 text-center"></div>
<div>
    <h4>
        <i class="fa fa-users-cog"></i>
        {% trans "Created by" %}
    </h4>
    <ul class="list-inline mt-2 ml-2">
        {% for wuser in wproject.creators.all %}
        <li class="list-inline-item">
            <a class="opacity-80" href="{% url 'common:user-detail' wuser.pk %}">
                <img class="mr-3 table-avatar img-size-64" src="{{wuser.photo|tc_photo}}" alt="User Image">
                <span class="users-list-name">
                    {{wuser.username}}
                </span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="row">
    <div class="col-lg-6">
        <canvas class="chartjs" data-chart-fail="{{wextra.num_fail|add:0}}"
            data-chart-success="{{wextra.num_success|add:0}}" data-chart-notyet="{{wextra.num_notyet|add:1}}">
        </canvas>
    </div>
    <div class="col-lg-6"></div>
</div>
{% endwith %}