{% load i18n static utils tuser %}

<div class="{{col}}" data-type="projectbox" data-groups="{{wproject.is_group}}"
    data-experience="{{wproject.experience}}" data-name="{{wproject.name}}" data-propularity="0"
    data-date="{{wproject.date}}"
    data-projectuser="{% if wproject.pk in wproject_register_pk %}true{% else %}false{% endif %}" data-languges="
    {% for lang in wproject.languages.all %}
    {{lang.pk}}
    {% endfor %}
    " data-category="
    {% for cat in wproject.category.all %}
    {{cat.pk}}
    {% endfor %}
    ">
    <div class="small-box
            {% if wproject.scores %}
                bg-{{wproject.scores|color_project}}
            {% else %}
                bg-light
            {% endif %}">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>
                    {{project}}
                    {% if wproject.scores %}
                    <span class="float-right badge {{wproject.scores|color_project}}">
                        {{wproject.scores}}
                    </span>
                    {% endif %}
                </h3>
                <p class="mt-4">
                    {% for user in wproject.users.all %}
                    <a href="{% url 'common:user-detail' user.pk %}">
                        <img class="img-circle w-10" src="{{user.photo|tc_photo}}" alt="User Image">
                    </a>
                    {% endfor %}
                </p>
            </div>
            <div class="icon">
                {% if wproject.scores >= 75%}
                <i class="fas fa-check"></i>
                {% elif wproject.scores %}
                <i class="fas fa-times mr-1"></i>
                {% else %}
                <i class="far fa-clock mr-1"></i>
                {% endif %}
            </div>
            {% for lang in wproject.languages.all %}
            <span class="badge bg-yellow">{{lang}}</span>
            {% endfor %}

            {% for cat in wproject.category.all %}
            <span class="badge bg-secondary">{{cat}}</span>
            {% endfor %}
            {% if wtype == 'register' %}
            <a href="{% url 'project:project-detail' project.project.pk %}" class="small-box-footer">
                {% elif wtype == 'project' %}
                <a href="{% url 'project:project-detail' wproject.pk %}" class="small-box-footer">
                    {% endif %}
                    {% trans "Plus d'info" %} <i class="fas fa-arrow-circle-right"></i>
                </a>
        </div>
    </div>
</div>