{% load i18n static %}


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-10 order-2 order-md-2">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                                <span class="info-box-text text-center text-muted">{% trans "Nombre de retry" %}</span>
                                <span class="info-box-number text-center text-muted mb-0">{{extra.retry_nb}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                                <span class="info-box-text text-center text-muted">{% trans "Scores maxium" %}</span>
                                <span
                                    class="info-box-number text-center text-muted mb-0">{% firstof extra.scores_max '0' %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                                <span
                                    class="info-box-text text-center text-muted">{% trans "Nombre d'outstanding" %}</span>
                                <span class="info-box-number text-center text-muted mb-0">{{extra.outstanding_nb}}
                                    <span>
                                    </span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {% if wtype == 'small' %}
                        <h4>{% trans "Activite" %}</h4>
                        {% include 'project/widgets/retry.html' with wretry=register wobject=object %}
                        {% else %}
                        {% include 'project/widgets/project_comunity.html' with wobject=object %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-2 order-1 order-md-1">
                <h3 class="text-primary">
                    <a href="{% url 'project:project-detail' wproject.pk %}">
                        <i class="fas fa-project-diagram"></i>
                        {{wproject}}
                    </a>
                </h3>
                <p class="text-muted">
                    {{wproject.description}}
                </p>
                <br>
                <div class="text-muted">
                    <p class="text-sm">Client Company
                        <b class="d-block">Deveint Inc</b>
                    </p>
                    <p class="text-sm">Project Leader
                        <b class="d-block">Tony Chicken</b>
                    </p>
                </div>
                <h5 class="mt-5 text-muted">{% trans "Project files/documentation" %}</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/{{wproject.documentation.url}}" download="{{wproject.documentation}}">
                            <i class="fa fa-doc mr-1"></i>
                            {{wproject.documentation}}
                        </a>
                    </li>
                    {% if wproject.resource %}
                    <li>
                        <a href="" class="btn-link text-secondary">
                            <i class="far fa-fw fa-file-word"></i>
                            {{wproject.resource}}
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% if wproject.videos.count %}
                <h5 class="mt-5 text-muted">{% trans "Project video" %}</h5>
                <ul class="list-unstyled">
                    <li>
                        {% for video in wproject.videos.all %}
                        <a href="{{video.link}}">{{video.name}}</a>
                        {% endfor %}
                    </li>
                </ul>
                {% endif %}
                <h5 class="mt-5 text-muted">{% trans "Project information" %}</h5>
                <ul class="list-unstyled">
                    <li>
                        {% for lang in wproject.langues.all %}
                        <span class="badge badge-{{lang.color}}">{{lang.name}}</span>
                        {% endfor %}
                    </li>
                    <li>
                        {% for cat in wproject.category.all %}
                        <span class="badge badge-{{cat.color}}">{{cat.name}}</span>
                        {% endfor %}
                    </li>
                </ul>
                <div class="text-center mt-5 mb-3">
                    {% if wlastproject and wtype == 'small'%}

                    {% if wlastproject.is_finish %}
                    <button class="btn btn-danger" data-toggle="modal"
                        data-target="#projectstatus">{% trans "Recommencer" %}</button>
                    <a class="btn btn-primary" href="">{% trans "Corigier" %}</a>

                    {% elif wlastproject.is_progress %}
                    <button class="btn btn-success" data-toggle="modal" data-target="#projectstatus">
                        {% trans "terminer de project" %}
                    </button>
                    {% elif wlastproject.is_waiting %}
                    <button class="btn btn-success float-left" data-toggle="modal" data-target="#projectstatus">
                        {% trans "clore ce project" %}
                    </button>
                    {% endif %}

                    {% elif wlastproject and wtype == 'long' %}
                    <a href="{% url 'project:project-register-detail' wlastproject.project.pk %}" class="btn btn-info">
                        <i class="fa fa-link"></i>
                        {% trans "Aller a ma page du project" %}
                    </a>
                    {% else %}
                    <button class="btn btn-primary" data-toggle="modal" data-target="#projectstatus">
                        {% trans "commencer ce project" %}
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="projectstatus" style="display: none;" aria-hidden="true">
    <div class="modal-dialog hide">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">

                    {% if wlastproject.is_finish%}
                    {% trans "Recomencer ce project" %}
                    {% elif wlastproject.is_progress %}
                    {% trans "terminer ce project" %}
                    {% elif wlastproject.is_waiting %}
                    {% trans "clore ce project" %}
                    {% else %}
                    {% trans "de commencer ce project" %}
                    {% endif %}

                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {% if wlastproject.is_finish %}

                    {% blocktrans %}
                    ete vous sure de recomencer ce project ?
                    {% endblocktrans %}


                    {% elif wlastproject.is_progress %}

                    {% blocktrans %}
                    ete vous sure de terminer ce project ?
                    {% endblocktrans %}

                    {% elif wlastproject.is_waiting %}

                    {% blocktrans %}
                    ete vous sure de clore ce project ?
                    {% endblocktrans %}

                    {% else %}

                    {% blocktrans %}
                    ete vous sure de commencer ce project ?
                    {% endblocktrans %}

                    {% endif %}

                </p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">{% trans "Close" %}</button>
                <form method="post">{% csrf_token %}

                    {% if wlastproject.is_finish %}
                    <input type="hidden" name="type" value="retry">
                    {% elif wlastproject.is_progress %}
                    <input type="hidden" name="type" value="finish">
                    {% elif wlastproject.is_waiting %}
                    <input type="hidden" name="type" value="close">
                    {% else %}
                    <input type="hidden" name="type" value="register">
                    {% endif %}

                    <button type="submit" class="btn btn-outline-danger api">
                        {% trans "Save changes" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>