{% load i18n %}
<div id="accordion">
    {% for retry in wretry %}

    <div class="card card-primary card-outline">
        <a data-toggle="collapse" data-parent="#accordion" href="#retry{{retry.pk}}"
            class="card-header card-title {% if retry.pk != object.pk %}collapsed{%endif%}"
            aria-expanded="{% if forloop.first %}true{% else %}false{%endif%}">

            {% if retry.is_finish %}
            <span class="badge badge-primary">
                {% trans "Terminer" %}
            </span>
            {% elif retry.is_progress %}
            <span class="badge badge-info">
                {% trans "En Cours" %}
            </span>
            {% elif retry.is_waiting %}
            <span class="badge badge-warning">
                {% trans "En Attente" %}
            </span>
            {% endif %}

            {{retry.project}}
            <small class="text-muted">
                {{retry.start_or_end|date:"d M, Y"}}
            </small>
        </a>
        <div id="retry{{retry.pk}}" class="panel-collapse collapsed collapse {% if forloop.first %} show {% endif %}">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        {% include 'project/widgets/team_list.html' with wproject=retry %}
                    </div>
                    <div class="col-12">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fab fa-gitlab mr-1"></i>
                                    {% trans "Lien git" %}
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="gitlink{{retry.pk}}"
                                        value="{{retry.git}}">
                                    <div class="input-group-append">
                                        <span class="input-group-text" data-copy="gitlink{{retry.pk}}" data-toast="true"
                                            data-toast-title="{% trans 'lien copier' %}">
                                            <i class="fas fa-copy"></i>
                                        </span>
                                        {% if user == retry.leader and retry.is_waiting %}
                                        <span class="input-group-text">
                                            <a class="text-decoration-none" data-target="#project_edit_git"
                                                data-toggle="modal" href="#">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </span>
                                        <div class="modal fade" id="project_edit_git" style="display: none;"
                                            aria-hidden="true">
                                            <div class="modal-dialog hide">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">
                                                            {% trans "modification du lien git" %}
                                                        </h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <form method="post"
                                                        action="{% url 'project:project-register-update' wlastproject.pk %}">
                                                        {% csrf_token %}
                                                        <div class="modal-body">
                                                            {{form_project.git.label_tag}}
                                                            {{form_project.git}}
                                                            <input type="hidden" name="type" value="edit">
                                                        </div>
                                                        <div class="modal-footer justify-content-between">
                                                            <button type="button" class="btn btn-outline-primary"
                                                                data-dismiss="modal">{% trans "Close" %}</button>
                                                            <button type="submit" class="btn btn-primary api">
                                                                {% trans "Save changes" %}
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        {% include 'project/widgets/feedback_list.html' with wfeedback=retry.project__set.all%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>