{% load i18n utils tuser %}

<div class="card card-info">
    {% with wproject.teams.count as len %}
    <div class="card-header">
        <h3 class="card-title"><i class="fa fa-users mr-1"></i>{% trans "La Team" %}</h3>
        <div class="card-tools">
            <span class="badge badge-info">{{len|add:"1"}} {% trans "menbre" %}</span>
        </div>
    </div>
    <div class="card-body p-0">
        <ul class="list-inline mt-2 ml-2">
            <li class="list-inline-item">
                <img class="mr-3 table-avatar img-size-64" src="{{wproject.leader.photo|tc_photo}}" alt="User Image">
                <a class="users-list-name" href="{% url 'common:user-detail' wproject.leader.pk %}">
                    {{wproject.leader.username}}
                    <i class="fa fa-star text-warning"></i>
                </a>
            </li>
            {% for wuser in wproject.teams.all %}
            <li class="list-inline-item">
                <img class="mr-3 table-avatar img-size-64" src="{{wuser.photo|tc_photo}}" alt="User Image">
                <a class="users-list-name" href="#">{{wuser.username}}</a>
            </li>
            {% endfor %}

            {% if user == wproject.leader and wproject.is_waiting %}
            <li class="list-inline-item">
                <a class="opacity-50" data-target="#project_edit_team" data-toggle="modal" href="#">
                    <img class="mr-3 table-avatar img-size-64" src="{{None|tc_photo}}" alt="User Image">
                    <span class="users-list-name">
                        <i class="fa fa-plus"></i>
                        {% trans "Ajouter" %}
                    </span>
                </a>
            </li>
            <div class="modal fade" id="project_edit_team" style="display: none;" aria-hidden="true">
                <div class="modal-dialog hide">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                {% trans "modification du groups" %}
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form method="post" action="{% url 'project:project-register-update' wlastproject.pk %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                {{form_project.invitations.label_tag}}
                                {{form_project.invitations}}
                                <input type="hidden" name="type" value="edit">
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-outline-primary"
                                    data-dismiss="modal">{% trans "Close" %}</button>
                                <button type="submit" class="btn btn-primary api">
                                    {% trans "Save changes" %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}

        </ul>
        {% if wproject.invitations.count %}
        <div class="border-top mr-5 ml-5 text-center">
            <small class="text-muted">{% trans "En attente" %}</small>
        </div>
        <ul class="list-inline mt-2 ml-2">
            {% for wuser in wproject.invitations.all %}
            <li class="list-inline-item">
                <img class="mr-3 table-avatar img-size-64" src="{{wuser.photo|tc_photo}}" alt="User Image">
                <a class="users-list-name" href="#">{{wuser.username}}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endwith %}
</div>