.select2-selection__choice {
    background-color: #007bff !important;
    color: #fff !important;
    border-color: #007bff !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
}

.opct {
    height: 100px;
    width: 100px;
    background-color: #95AAD3;
    margin-right: 5px;
    padding: 5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .opct p {
    margin-bottom: 0;
  }
  .opacity-0 {
    opacity: 0; }
  
  .opacity-10 {
    opacity: 0.1; }
  
  .opacity-20 {
    opacity: 0.2; }
  
  .opacity-30 {
    opacity: 0.3; }
  
  .opacity-40 {
    opacity: 0.4; }
  
  .opacity-50 {
    opacity: 0.5; }
  
  .opacity-60 {
    opacity: 0.6; }
  
  .opacity-70 {
    opacity: 0.7; }
  
  .opacity-80 {
    opacity: 0.8; }
  
  .opacity-90 {
    opacity: 0.9; }
  
  .opacity-100 {
    opacity: 1; }