{% load i18n tuser %}
<a href="#" class="dropdown-item">
    <div class="media">
        <img src="{{notfication.user.photo|tc_photo}}" alt="User Avatar" class="img-size-50 mr-3 img-circle">
        <div class="media-body">
            <h3 class="dropdown-item-title">
                {{notfication.user}}
                <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
            </h3>
            <p class="text-sm">{{notfication.text}}</p>
            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i>{{notfication.date|date:"d M Y"}}</p>
        </div>
    </div>
</a>
{