{% extends 'base.html' %}
{% load i18n %}

{% block contents %}
<a class="btn btn-primary" href="{% url 'project:project-create' %}">
    <i class="fa fa-plus"> {% trans "Ajouter" %}</i>
</a>
{% endblock contents %}
