{% extends 'base.html' %}
{% load i18n utils tuser %}

{% block breadcrumb%}
{% endblock breadcrumb%}


{% block contents %}

<div class="row mt-1">
    <div class="col-md-12">
        {% include 'project/widgets/project_info.html' with wproject=object wlastproject=register.first wtype="small" %}
    </div>
</div>


{% endblock contents %}