{% extends 'base.html' %}
{% load i18n widget_tweaks %}

{% block contents %}


<div class="card card-primary card-outline card-tabs">
    <div class="card-header p-0 pt-1 border-bottom-0">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#project">{% trans "project" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#correction">{% trans "correction" %}</a>
            </li>
        </ul>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="project" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">      
                    <h2>{% trans "Porject creation" %}</h2>
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{form}}
                        <button class="btn btn-primary mt-2" type="submit">
                            <i class="fa fa-plus"> {% trans "Ajouter" %}</i>
                        </button>
                    </form>
                </div>
                <div class="tab-pane fade" id="correction" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">
                    <h2>{% trans "Porject corrections" %}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contents %}
