{% extends 'base.html' %}
{% load i18n static utils tuser %}

{% block breadcrumb%}
{% endblock breadcrumb%}


{% block contents %}
<div class="row mt-1">
    <div class="col-md-3">
        {% include 'project/tools/project_filter.html' %}
    </div>
    <div class="col-9">
        <div class="row">
            {% for project in object_list %}
            {% include 'project/widgets/project_box.html' with wproject=project col="col-lg-3" wtype="project" wproject_register_pk=projectregister_pk%}
            {% endfor %}
        </div>
    </div>
    {% endblock contents %}

    {% block js_extra %}
    <script src="{% static 'js/project_filter.js' %}"></script>
    {% endblock js_extra %}