{% extends 'base.html' %}
{% load i18n static %}

{% block style_extra %}
<link srel="stylesheet" href="{% static 'admin-lte/plugins/chart.js/Chart.min.css' %}">
{% endblock style_extra %}

{% block contents %}

<div class="row mt-1">
    <div class="col-12">
        {% include 'project/widgets/project_info.html' with wproject=object wlastproject=register.first wtype='long' %}
    </div>
</div>

{% endblock contents %}
{% block js_extra %}
<script src="{% static 'admin-lte/plugins/chart.js/Chart.min.js' %}"></script>
{% endblock js_extra %}