{% extends 'base.html' %}
{% load i18n utils tuser %}

{% block breadcrumb%}
{% endblock breadcrumb%}


{% block contents %}
<div class="row mt-1">
    {% for project in allproject %}
    <div class="col-lg-3">
        <div class="small-box
        {% if project.scores %} bg-{{project.scores|color_project}} {% else %} bg-light {% endif %}">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>
                        {{project}}
                        {% if project.scores %}
                        <span class="float-right badge {{project.scores|color_project}}">
                            {{project.scores}}
                        </span>
                        {% endif %}
                    </h3>
                    <p class="mt-4">
                        {% for user in project.users.all %}
                        <a href="{% url 'common:user-detail' user.pk %}">
                            <img class="img-circle w-10" src="{{user.photo|tc_photo}}" alt="User Image">
                        </a>
                        {% endfor %}
                    </p>
                </div>
                <div class="icon">
                    {% if project.scores >= 75%}
                    <i class="fas fa-check"></i>
                    {% elif project.scores %}
                    <i class="fas fa-times mr-1"></i>
                    {% else %}
                    <i class="far fa-clock mr-1"></i>
                    {% endif %}
                </div>
                <a href="{% url 'project:project-detail' project.project.pk %}" class="small-box-footer">
                    {% trans "Plus d'info" %} <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock contents %}