{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumb%}
{% endblock breadcrumb%}


{% block contents %}
<div class="row mt-1">
    <div class="col-md-12">
        {% include 'widgets/user.html' with wuser=user %}
    </div>
    <div class="col-md-4">
        {% include 'widgets/evaluation.html' with wevals=evaluations %}
    </div>
    <div class="col-md-4">
        {% include 'widgets/statistic.html' with wstats=user.statistic %}
    </div>
    <div class="col-md-4">
        {% include 'widgets/project.html' with wprojects=allproject %}
    </div>
</div>

{% endblock contents %}