{% load static i18n %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
    <title>{% block title %}{% endblock title %}</title>
    {% block head %}{% endblock head %}

    {# ----------------- modules node  CSS ----------------- #}
    {% block style_extra %}{% endblock style_extra %}
    <link rel="stylesheet" href="{% static '/admin-lte/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static '/admin-lte/plugins/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static '/admin-lte/plugins/fontawesome-free/css/all.css' %}">
    <link rel="stylesheet" href="{% static '/admin-lte/plugins/sweetalert2/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static '/admin-lte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static '/admin-lte/plugins/toastr/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static '/admin-lte/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static '/admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <script src="{% static '/vue/dist/vue.js' %}"></script>
    {# ----------------- modules node  JS ----------------- #}
    <script src="{% static '/admin-lte/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/admin-lte/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static '/admin-lte/plugins/select2/js/select2.min.js' %}"></script>
    <script src="{% static '/admin-lte/dist/js/adminlte.min.js' %}"></script>
    <script src="{% static '/admin-lte/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/admin-lte/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script src="{% static '/admin-lte/plugins/toastr/toastr.min.js' %}"></script>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        {% include 'navbar.html' %}
        {% include 'sidebar.html' %}
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    {% block breadcrumb %}
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h1 class="m-0 text-dark">
                                        {% block breadcrumb_title %}{% endblock breadcrumb_title %}</h1>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        {% block breadcrumb_sub %}{% endblock breadcrumb_sub %}
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock breadcrumb %}
                    {# ----------------- content ----------------- #}
                    {% block contents %}
                    {% endblock contents %}
                </div>
            </section>
        </div>
    </div>
    {# ----------------- footer ----------------- #}
    {% include 'footer.html' %}

    {# ----------------- notification ----------------- #}
    {% include 'utility/notification.html' %}

</body>

<script>
    console.log('iciciic')
</script>
<script src="{% static '/js/common.js' %}"></script>

{# ----------------- js extra ----------------- #}
{% block js_extra %}
{% endblock js_extra %}

</html>