{% load static %}
<!-- /.content-wrapper -->
<footer class="main-footer">
    <strong>Rgermain &copy; 2019-2020 <a href="https://framagit.org/rgermain/intra42-ce">Intra42 Community
            Edition</a>.</strong>
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> {{git.version}}
    </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    {% for invitation in invitations %}

    {% endfor %}
</aside>