{% load static %}

<div class="col-1">
    <div class="container-fluid">
        <div class="text-center">
            <a class="navbar-brand" href="#">
                <img src="{{MEDIA}}{% static 'img/logo.png' %}" class="img-fluid text-center" width="50" height="50"
                    alt="">
            </a>
        </div>
    </div>
</div>
<div class="col-11">
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-auto">
        <form class="form-inline">
            <button class="btn" type="submit"><em class="fa fa-search"></em></button>
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
    </nav>
</div>