{% load tuser i18n %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="far fa-comments"></i>
                <span class="badge badge-danger navbar-badge">{{notifications|length}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                {% for notfication in notifications %}
                {% include 'utility/notif.html' with wnotif=notfication %}
                {% endfor %}
                <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
            </div>
        </li>



        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge">15</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-header">15 Notifications</span>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fas fa-envelope mr-2"></i> 4 new messages
                    <span class="float-right text-muted text-sm">3 mins</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fas fa-users mr-2"></i> 8 friend requests
                    <span class="float-right text-muted text-sm">12 hours</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fas fa-file mr-2"></i> 3 new reports
                    <span class="float-right text-muted text-sm">2 days</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                <i class="fas fa-th-large"></i>
            </a>
        </li>
    </ul>



</nav>
<!-- /.navbar -->


{% for i in notifications %}
<div class="modal" id="notif{{forloop.count}}" style="display: none;" aria-hidden="true">
    <div class="modal-dialog hide">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {% trans "Invitations a un project" %}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            {% csrf_token %}
            <div class="modal-body">
                <div class="input-group">
                    <form method="post" action="">
                        <input type="hidden" name="invitations" value="true">
                        <button type="submit" class="btn btn-primary api">
                            {% trans "accepter" %}
                        </button>
                    </form>
                    <form method="post" action="">
                        <input type="hidden" name="invitations" value="false">
                        <button type="submit" class="btn btn-primary api">
                            {% trans "refuser" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">{% trans "Close" %}</button>
        </div>
    </div>
</div>
{% endfor %}
{% block js_extra %}
<script>
</script>
{% endblock js_extra %}