{% load static tuser i18n %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'common:accueil' %}" class="brand-link bg-light">
        <img src="{% static 'img/logo.png' %}" alt="Intra42-CE Logo" class="brand-image img-circle" style="opacity: .8">
        <span class="brand-text font-weight-light">Intra42-CE</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{user.photo|tc_photo}}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{% url 'common:user-detail' user.pk %}" class="d-block">{{user.username|title}}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            {% blocktrans %} Project register {% endblocktrans %}
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    {% comment %} -- list of current project -- {% endcomment %}
                    <ul class="nav nav-treeview">
                        {% for project in currentproject %}
                        <li class="nav-item">
                            <a href="{% url 'project:project-register-detail' project.project.pk %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>{{project}}</p>
                            </a>
                        </li>
                        {% empty %}
                        <li class="nav-item text-center">
                            <p class="text-secondary"> -- {% blocktrans %} nothing register {% endblocktrans %} -- </p>
                        </li>
                        {% endfor %}
                    </ul>
                </li>

                {% comment %} -- link general -- {% endcomment %}
                <li class="nav-header">{% trans "general"|upper %}</li>
                <li class="nav-item">
                    <a href="{% url 'project:project-list' %}" class="nav-link">
                        <i class="nav-icon fas fa-project-diagram"></i>
                        <p>
                            {% trans "Project" %}
                            {% if has_new_project %}
                            <span class=" right badge badge-danger">New</span>
                            {% endif %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'project:project-list' %}" class="nav-link">
                        <i class="nav-icon fas fa-video"></i>
                        <p>
                            {% trans "Video" %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'project:project-list' %}" class="nav-link">
                        <i class="nav-icon fas fa-file"></i>
                        <p>
                            {% trans "Documentation" %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'project:project-tools' %}" class="nav-link">
                        <i class="nav-icon fas fa-tools"></i>
                        <p>
                            {% trans "administration" %}
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>