{% load i18n utils tuser %}

<div class="row mb-2" id="projectsort">
    <div class="col-6">
        <select class="form-contol custom-select">
            <option value="1">date</option>
            <option value="2">experience</option>
            <option value="3">populariter</option>
            <option value="3">New</option>
        </select>
    </div>
    <div class="col-6">
        <button class="btn btn-secondary">
            <i class="fa fa-sort-up"></i> {% trans "ASC" %}
        </button>
    </div>
</div>
<div class="card" id="projectfilter">
    <div class="card-header">
        <h3 class="card-title">Filtre
        </h3>
        <div class="card-tools">
            <span class="badge bg-primary float-right" id="boxlength">{{object_list|length}}</span>
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <div class="form-group nav-link">
                    <label>
                        <i class="fa fa-user"></i> {% trans "  project" %}
                    </label>
                    <select class="custom-select" data-filter="data-projectuser">
                        <option value="null">{% trans "Tout" %}</option>
                        <option value="true">{% trans "Ceux que jai fait" %}</option>
                        <option value="false">{% trans "Ceux que je nais pas fait" %}</option>
                    </select>
                </div>
            </li>
            <li class="nav-item">
                <div class="form-group nav-link">
                    <label for="customRange1">
                        <i class="fa fa-wave-square"></i> {% trans "Experience" %}
                        <span id="slider-filter" data-filter="data-experience" data-parent="#slider-range"></span>
                    </label>
                    <div id="slider-range" data-write-range="#slider-filter" data-max="1500"></div>
                </div>
            </li>
            <li class="nav-item">
                <div class="form-group nav-link">
                    <label>
                        <i class="fa fa-users"></i> {% trans "Groups" %}
                    </label>
                    <select class="custom-select" data-filter="data-groups">
                        <option value="null">{% trans "Tout" %}</option>
                        <option value="true">{% trans "oui" %}</option>
                        <option value="false">{% trans "non" %}</option>
                    </select>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-link">
                    <label>
                        <i class="fas fa-folder"></i> {% trans "Category" %}
                    </label>
                    <select class="form-contol custom-select" data-filter="data-category">
                        <option value="null">{% trans "tout" %}</option>
                        {% for cat in allcategory %}
                        <option value="{{cat.pk}}">{{cat}}</option>
                        {% endfor %}
                    </select>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-link">
                    <label>
                        <i class="fas fa-folder"></i> {% trans "Languages" %}
                    </label>
                    <select class="form-contol custom-select" data-filter="data-languages">
                        <option value="null">{% trans "tout" %}</option>
                        {% for lang in allproglang %}
                        <option value="{{lang.pk}}">{{lang}}</option>
                        {% endfor %}
                    </select>
                </div>
            </li>
        </ul>
    </div>
</div>