{% load i18n %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">{% trans "Evaluation en attente" %}</h3>

    </div>
    <div class="card-body p-0">
        <ul class="products-list product-list-in-card pl-2 pr-2">
            {% for eval in wevals %}
            <li class="item">
                <div class="product-info">
                    <span class="title">{{eval.date}}</span>
                    <a href="" class="product-title">{{eval.evaluator.username}}</a>
                    <span class="product-description">
                        {{eval.project}}
                    </span>
                </div>
            </li>
            {% empty %}
            <li class="item text-center">
                <span class="product-description">
                    -- {% trans "Pas d'evaluation" %} --
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>