{% load i18n utils %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="ion ion-clipboard mr-1"></i>
            {% trans "Tous les projects" %}
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <ul class="todo-list ui-sortable">
            {% for project in wprojects %}
            <li>
                <a href="{% url 'project:project-detail' project.project.pk %}">
                    {{project}}
                </a>

                {% if project.has_scores %}
                <span class="badge badge-{{project.has_scores|color_project}}" float-right">
                    {{project.has_scores}}
                </span>
                {% elif project.is_finish %}
                <span class="badge badge-primary float-right">
                    {% trans "Terminer" %}
                </span>
                {% elif project.is_progress %}
                <span class="badge badge-info float-right">
                    {% trans "En Cours" %}
                </span>
                {% elif project.is_waiting %}
                <span class="badge badge-warning float-right">
                    {% trans "En Attente" %}
                </span>
                {% endif %}

            </li>
            {% endfor %}
        </ul>
    </div>
</div>