{% load i18n utils %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="ion ion-clipboard mr-1"></i>
            {% trans "Statistiques" %}
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <ul class="todo-list ui-sortable">
            {% for key, value in wstats.items%}
            <li>
                <span>
                    {{key}}
                </span>
                <small class="badge badge-primary float-right">
                    {{value}}
                </small>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>