{% load static tuser i18n %}

<div class="card card-widget widget-user">
    <div class="widget-user-header bg-info">
        <h3 class="widget-user-username">{{wuser}}</h3>
        <h5 class="widget-user-desc">{{wuser.grade}}</h5>
    </div>
    <div class="widget-user-image">
        <img class="img-circle elevation-2" src="{{wuser.photo|tc_photo}}" alt="User Avatar">
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <h5 class="description-header">{{wuser.experiences}}</h5>
                    <span class="description-text">{% trans "Experiences" %}</span>
                </div>
            </div>
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <h5 class="description-header">{{wuser.correction_points}}</h5>
                    <span class="description-text">{% trans "Correction points" %}</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="description-block">
                    <h5 class="description-header">{{wuser.location}}</h5>
                    <span class="description-text">{% trans "Connected" %}</span>
                </div>
            </div>
        </div>
    </div>
</div>